<!-- Add icon library -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

<div class="card card-left">
  <img src="assets/img.jpg" alt="Name" style="width:50%">
  <h5>Name Of Employee</h5>
  <p class="title">Employee ID</p>
  <p>Designation</p>
  <a href="#"><i class="fa fa-dribbble"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-linkedin"></i></a>
  <a href="#"><i class="fa fa-facebook"></i></a>
  <p>Spyder chart</p>
</div>




