.skillcard {
    box-shadow: 0 4px 8px 0 rgba(7, 158, 7, 0.747);
    max-width: 300px;
    margin: auto;
    text-align: center;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  

  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
 
  