<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation Bar</title>
    <link rel="stylesheet" href="app.component.css">
</head>
<body>
  
  
  
<div class="navbar">
    <a href="#">Home</a>
    <a href="#">Add Skills</a>
    <a href="#">Info</a>
    <a href="#">Help</a>
    
</div>




<footer class="footer">
    <div class="container">
        <p>This is a footer.</p>
    </div>
</footer>



</body>
</html>
