/* Resetting default margin and padding for all elements */
* {
    margin: 0;
    padding: 0px 0px;
    box-sizing: border-box;
}

/* Styling the navbar */
.navbar {
    background-color: rgb(80, 80, 231);
    overflow: hidden;
    padding: 10px 10px; /* Increase width by 3cm */
    
}

/* Styling the navbar links */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 16px 20px;
    text-decoration: none;
}

/* Change the color of links on hover */
.navbar a:hover {
    background-color: #444;
}


/* Styling the footer */
.footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

/* Styling the container within the footer */
.footer .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px; /* Add padding to the sides */
}

/* Styling the text within the footer */
.footer p {
    margin: 0;
}